*{margin:0; padding:0;}
a{text-decoration:none; color:inherit;}
ul, ol{list-style:none;}
address{font-style:normal;}
img{vertical-align:top;}

.cf{}
.cf:after{display:block; clear:both; content:'';}

.Pionner{
    height:800px;
}

header{
    width:980px;
    height:100px;
    margin:0 auto;
    margin-bottom:30px;
    
}
.headerWrap{
    position: relative;
    width:100%;
    height:100%;
    
}

.headerLeft{
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
}
.title{
    
    display:block;
    width:auto;
}

.headerRight{
    position: absolute;
    right:0;
    top:45%;
}
 .toggle{
     
 }
 
 .toggle form input{
    -webkit-appearance: none;
    width: 300px;
    height: 25px;
    background:#b2bec3;
    outline: none;
    border-radius: 30px;
 }
 .toggle form input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    background:#2d3436;
    cursor: pointer;
    border-radius: 50%;
}
 
.mainVisual{
    width:960px;
    height:600px;
    margin:0 auto;
    box-shadow: 10px 10px 25px #ccc;
}

.mainVisual ul{}
.mainVisual ul li{
    width:192px;
    height:200px;
    float:left;
    position: relative;
}
.block{
    display:block;
    width:100%;
    height:100%;
}

.mainVisual ul li:nth-child(1) a{
    /* background:url(img/tec01.png) no-repeat center; */
}
.mainVisual ul li:nth-child(2) a{
    /* background:url(img/tec02.png) no-repeat center; */
}
.mainVisual ul li:nth-child(3) a{
    /* background:url(img/tec03.png) no-repeat center; */
}
.mainVisual ul li:nth-child(4) a{
    /* background:url(img/tec04.png) no-repeat center; */
}
.mainVisual ul li:nth-child(5) a{
    /* background:url(img/tec05.png) no-repeat center; */
}
.mainVisual ul li:nth-child(6) a{
    /* background:url(img/tec06.png) no-repeat center; */
}
.mainVisual ul li:nth-child(7) a{
    /* background:url(img/tec07.png) no-repeat center; */
}
.mainVisual ul li:nth-child(8) a{
    /* background:url(img/tec08.png) no-repeat center; */
}
.mainVisual ul li:nth-child(9) a{
    /* background:url(img/tec09.png) no-repeat center; */
}
.mainVisual ul li:nth-child(10) a{
    /* background:url(img/tec10.png) no-repeat center; */
}
.mainVisual ul li:nth-child(11) a{
    /* background:url(img/tec11.png) no-repeat center; */
}
.mainVisual ul li:nth-child(12) a{
    /* background:url(img/tec12.png) no-repeat center; */
}
.mainVisual ul li:nth-child(13) a{
    /* background:url(img/tec13.png) no-repeat center; */
}
.mainVisual ul li:nth-child(14) a{
    /* background:url(img/tec14.png) no-repeat center; */
}
.mainVisual ul li:nth-child(15) a{
    /* background:url(img/tec15.png) no-repeat center; */
}

.mainVisual ul li a p{
    text-align: justify;
    line-height: 1.5;
    padding:30px;
    box-sizing: border-box;
}

.loading{
    width:960px;
    height:600px;
    background:url(img/the_expanding_circle_in_person.png) no-repeat center;
    position: relative;
}
.loadingCircle{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}